*{
  margin:0;
  padding:0;
  font-family: "Raleway", sans-serif;
}
body {
    background: #E8F5E9;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #4A0E54;
    padding: 0.5em 1em;
    box-shadow: 0 0 2px 3px lightgrey;
}
header h1 {
    text-shadow: 2px 2px black;
    padding-top: 1em;
    padding-bottom: 0.3em;
    font-weight: 200;
    font-size: 40px;
}
section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    display: block;
    max-width: 70%;
    margin: 1em auto;
    list-style: none;
}
li{
    margin: 1em auto;
    display: block;
}
.numbering{
    font-size: 3em;
    float:left;
    margin-right: 1em;
    font-weight: 100;
}
.todoTextBody{
    border-radius: 1px;
    border-style: inset;
    border-width: 1px;
    background-color: #FDFAFC;
    display: inline-block;
    font-size: 1.5em;
    width: 75%;
    height: 1em;
    padding-bottom: 10%;
}
.updateSpan{
  margin: 1em auto;
  height: 2em;
  display: block;
  /*margin-right: 1em;*/
}
.updateTxt{
  font-size: 1.1em;
  outline-color: #4A0E54;
  float: right;
  margin-right: 2em;
  height: 1.5em;

}
#todo-form{
    display: block;
    text-align: center;
    margin: 2em auto;
}
h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}
button,#submit-todo,.confirmUpdate{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-color: #4A0E54;
    background-color: #7A3E94;
    color: white;
    min-width: 2em;
    min-height: 1.5em;
    height: 2em;
    font-size: 15px;
    display: block;
    float:right;
    transition: all .6s ease;
}
#submit-todo{
  float: none;
  display: inline-block;
  font-size:14px;
  margin-left: 1em;
  color: white;
  padding: 0;
}
#new-todo{
  width: 250px;
  font-size: 1.1em;
  outline-color: #4A0E54;
}
button:hover , #submit-todo:hover{
  filter:brightness(.7);
}
