.fade.ng-enter{
    -webkit-transition: all .3s ease ; /* Chrome */
    transition: all .3s ease;
    opacity: 0;
}
.fade.ng-enter.ng-enter-active{
    opacity: 1;
}

*{
  margin:0;
  padding:0;
  font-family: "Raleway", sans-serif;
}
section{
    min-width: 100%;
}
body {
    width: 100%;
    background: #ebedef;
    color: #65286b;
    font-family: sans-serif;
    margin: 0;
}
header {
    background-color: #65286b;
    padding: 0.5em 1em;
    box-shadow: 0 0 2px 3px lightgrey;
}
header h1 {
    text-shadow: 2px 2px black;
    padding-top: 0.7em;
    padding-bottom: 0.3em;
    font-weight: 200;
    font-size: 40px;
}
nav{
  height: 3.5em;
  border-top: 1px solid white;
  text-align: center;
  background-color: #78a98b;
  box-shadow: 2px 2px 3px 2px lightgrey;
}

nav span{
  margin-top: 1em;
  margin-left: 4px;
  margin-right: 4px;
  height: 2em;
  background-color: #78a98b;
  display:inline-block;
  padding-top: 0.5em;
  width: 28%;
  color:white;
  text-align: center;
  transition: all 0.5s ease;
}
nav span:hover{
  background-color: rgba(235, 237, 239, 0.7);
  color: #65286b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
nav span.active:hover{
  color: #65286b;
  background-color: rgba(235, 237, 239,1);
}
.active{
  background-color: #ebedef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #65286b;
  font-weight: 900;
  box-shadow: 0px 0px 0px 6px rgb(235, 237, 239);
}
#undoSpan{
    height: 5em;
    position:relative;
    top:100px;
    background-color: rgb(80,31,52);
    display: inline-block;
    transition: all .5s ease;
}
#undoSpan:hover, #closePopup:hover{
    border-radius: 0;
    opacity: 1;
    color: white;
}
#undoSpan a{
    text-decoration:underline;
}
#undoSpan a:hover{
    opacity: 0.7;
}
#closePopup{
    cursor: pointer;
    background-color: rgb(80,31,52);
    font-size: 0.5em;
    margin: 0;
    display: block;
    text-align: right;
    width: 95%;
}
section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    display: block;
    max-width: 70%;
    margin: 1em auto;
    list-style: none;
}
li{
    background-color: hsla(144, 33%, 63%, .21);
    margin: 1em auto;
    display: block;
    padding-top: 2em;
    min-width: 100%;
    min-width: 3em;
    border-radius: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    box-shadow: .5px .5px 3px 1px rgb(101, 40, 107);
}
.numbering{
    font-size: 3em;
    float:left;
    margin-right: 1em;
    font-weight: 600;
    min-width: 30px;
}
.todoTextBody{
    border-radius: 1px;
    border-style: inset;
    border-width: 1px;
    background-color: #bee8cf;
    display: inline-block;
    font-size: 1.2em;
    width: 80%;
    height: 1em;
    overflow: auto;
    padding-bottom: 8%;
}
li .edit{
    visibility: hidden;
    transition: all .3s ease;
    outline-color: #bee8cf;
}
li.editing .todoTextBody{
    display: none;
}
li.editing .numbering::before{
    content: "*";
}
li.editing .edit{
    visibility: visible;
    border-radius: 1px;
    border-style: inset;
    border-width: 1px;
    background-color: #FDFAFC;
    display: inline-block;
    font-size: 1.2em;
    width: 80%;
    height: 1em;
    overflow: auto;
    padding-bottom: 8%;
    outline-color: #4A0E54;
}
.editing .buttonSpan{
    display: none;
}
.buttonSpan{
    display: block;
}
#todo-form{
    display: block;
    text-align: center;
    margin: 2em auto;
}
h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgb(235, 237, 239);
}
button,#submit-todo,.confirmUpdate{
    cursor: pointer;
    padding: 0 0 0 0;
    margin: 0 4px 0 0;
    border-color: #80bf99;
    background-color: #80bf99;
    color: #641f6b;
    min-width: 2em;
    min-height: 1.5em;
    height: 2em;
    font-size: 15px;
    display: block;
    float:right;
    transition: all .6s ease;
    border-radius: 2px;
    font-weight: 900;
}
#submit-todo{
  float: none;
  display: inline-block;
  font-size:14px;
  margin-left: 1em;
  height: 25px;
  color: #65286b;
  padding: 2px 4px 2px;
}
#new-todo{
  width: 250px;
  font-size: 1.1em;
  outline-color: #4A0E54;
}
#count-label{
    margin: 1em 1em 2em auto;
    text-align: center;
}
#deleteComplete{
  padding: 1em 0.5em 2em 0.5em;
}
button:hover , #submit-todo:hover{
  filter:brightness(.7);
}
.confirmUpdate{
    visibility: hidden;
}
.editing .confirmUpdate{
    visibility: visible;
}
.hidden{
    display: none;
}
.complete::after{
        font-size: 40px;
        content: "✓";
}
.complete .buttonSpan .complButton{
    pointer-events: none;
    cursor: default;
    filter: brightness(.5);
}
