<nav ng-controller="navCtrl as n">
  <span id="nav-complete" class="{{n.nav.complete.class}}" ng-click="n.getTab(&quot;complete&quot;)">
      Complete <span class="count">{{n.nav.complete.size}}</span>
  </span>
  <span id="nav-onGoing" class="{{n.nav.onGoing.class}}" ng-click="n.getTab(&quot;onGoing&quot;)">
      OnGoing <span class="count">{{n.nav.onGoing.size}}</span>
  </span>
  <span id="nav-all" class="{{n.nav.all.class}}" ng-click="n.getTab(&quot;all&quot;)">
      All <span class="count">{{n.nav.all.size}}</span>
  </span>
  <span id="undoSpan" class="no-animate" ng-if="list.state.justDeleted === true">
      <span id="closePopup" ng-click="list.hideUndoSpan()">X</span>You just deleted some items... <a ng-click="list.undoDelete()">Undo</a>
  </span>
</nav>

<div ng-controller="newPostCtrl as np">
    <form ng-submit="np.addTodo()" novalidate id="todo-form">
        <input ng-model="np.newTodoField" id="new-todo" placeholder="What needs to be done?" autofocus>
        <input id="submit-todo" type="submit" value="post">
    </form>
</div>

<div ng-controller="TodoListCtrl as list">
<h2 id="todo-list-placeholder" class="{{list.state.placeholderClassName}}">Loading...</h2>
<p id="count-label">You have {{filtered.length}} TODOs</p>
<button id="deleteComplete" class="no-animate" ng-show="list.state.filterState==true && filtered.length>0" ng-click="list.deleteTodo({id:complete})">Delete Completed</button>
<ul id="todo-list">
    <li class="fade" ng-repeat="todo in filtered = (list.todos | filter:{ isComplete: list.state.filterState }) track by $index" ng-class="{complete: todo.isComplete, editing: todo == list.editedTodo}" >
        <span class="numbering">{{$index +1}}</span>
        <label class="todoTextBody" ng-dblclick="list.updateTodo($event,todo)">{{todo.title}}</label>
        <span class="buttonSpan">
            <nipa-del-but todo="todo" index="$index"></nipa-del-but>
            <nipa-compl-but todo="todo" index="$index"></nipa-compl-but>
            <!-- <button class="complButton" id="compl{{$index}}" ng-click="list.doneTodo(todo)">✓</button> -->
        </span>
        <form id="edit-form" ng-submit="list.updateDB(todo)">
            <input class="edit" ng-trim="false" ng-model="todo.title" ng-blur="list.updateDB(todo)" todo-focus="todo == list.editedTodo" >
            <input class="confirmUpdate" type="submit" value="✒">
        </form>
    </li>
</ul>
<div id="error">{{list.state.error}}</div>
</div>
