<nav>
  <span class="{{list.nav.complete}}" ng-click="list.getComplete()">Complete</span>
  <span class="{{list.nav.onGoing}}" ng-click="list.getOngoing()">OnGoing</span>
  <span class="{{list.nav.all}}" ng-click="list.getAll()">All</span>
  <span id="undoSpan"><span id="closePopup" onclick="hideUndoSpan()">X</span>You just deleted some items... <a onclick="undoDelete()">Undo</a></span>
</nav>
<p id="count-label">You have {{filtered.length}} TODOs</p>
<form novalidate id="todo-form">
    <input ng-model="list.newTodoField" id="new-todo" placeholder="What needs to be done?" autofocus>
    <input ng-click="list.addTodo()" id="submit-todo" type="submit" value="post">

</form>
<ul>
    <li class="fade" ng-repeat="todo in filtered = (list.todos | filter:{ isComplete: list.filterState }) track by $index" ng-class="{editing: todo == list.editedTodo}" >
        <span class="numbering">{{$index +1}}</span>
        <label class="todoTextBody" ng-dblclick="list.updateTodo($event,todo)">{{todo.title}}</label>
        <span class="buttonSpan">
            <button ng-click="list.deleteTodo(todo)">x</button>
            <button ng-click="list.doneTodo(todo)">✓</button>
        </span>
        <form id="edit-form" ng-submit="list.updateDB(todo)">
            <input class="edit" ng-trim="false" ng-model="todo.title" ng-blur="list.updateDB(todo)" todo-focus="todo == list.editedTodo" autofocus>
            <input class="confirmUpdate" type="submit" value="✒">
        </form>
    </li>
</ul>
