<nav>
  <span id="nav-complete" class="{{list.nav.complete.class}}" ng-click="list.getTab(&quot;complete&quot;)">
      Complete <span class="count">{{list.nav.complete.size}}</span>
  </span>
  <span id="nav-onGoing" class="{{list.nav.onGoing.class}}" ng-click="list.getTab(&quot;onGoing&quot;)">
      OnGoing <span class="count">{{list.nav.onGoing.size}}</span>
  </span>
  <span id="nav-all" class="{{list.nav.all.class}}" ng-click="list.getTab(&quot;all&quot;)">
      All <span class="count">{{list.nav.all.size}}</span>
  </span>
  <span id="undoSpan" class="no-animate" ng-if="list.state.justDeleted === true">
      <span id="closePopup" ng-click="list.hideUndoSpan()">X</span>You just deleted some items... <a ng-click="list.undoDelete()">Undo</a>
  </span>
</nav>
